@model Docs.Models.ConnectionInfo

@{
    ViewData["Title"] = "Docs";
}

<link rel="stylesheet" href="~/css/docs.css" />

<div class="row">
    <div class="col text-center">
        <h3>Document ID = @Html.DisplayFor(model => model.DocId)</h3>
    </div>
</div>

<ul id="editor"></ul>

<button id="add">Add block</button>


@section Scripts {
    <script src="https://cdn.tiny.cloud/1/6jjx3s9z3j5tnsbc1754toilv9kzemdd6hgqa4um0v7cvt79/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="~/js/docs.js"></script>
}
