@model Docs.Models.ConnectionInfo

@{
    ViewData["Title"] = "Docs";
}

<link rel="stylesheet" href="~/css/docs.css" />

<div class="row">
    <div class="col text-center">
        <h3>Document ID = @Html.DisplayFor(model => model.DocId)</h3>
    </div>
</div>

<div id="editorjs"></div>

<button id="save">Save</button>

@section Scripts {
    <script src="~/lib/editor.js/editor.js"></script>
    <script src="~/js/docs.js"></script>
}
