@model Docs.Models.ConnectionInfo

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-auto mx-auto">
        <h1>Join document editing</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-10 col-md-8 col-lg-4 mx-auto">
        <form asp-controller="Docs" asp-action="Index">
            <div class="form-group">
                <input asp-for="UserName" class="form-control" placeholder="User name">
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="DocId" class="form-control" placeholder="Document ID">
                <span asp-validation-for="DocId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="DocPasswd" class="form-control" placeholder="Document password">
                <span asp-validation-for="DocPasswd" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
